body{
    background: #b5b9dd;
}
#containerMail{
    display: flex;
    width: 60%;
    height: auto;
    margin: 30px auto 30px auto;
    flex-direction: column;
    padding: 20px;
    background: #EAEAEA;
    border-radius: 5px;
    justify-self: center;
    box-shadow: 4px 6px 16px -3px rgba(0,0,0,0.57);
    -webkit-box-shadow: 4px 6px 16px -3px rgba(0,0,0,0.57);
    -moz-box-shadow: 4px 6px 16px -3px rgba(0,0,0,0.57);
}
#containerMail h2{
    font-family: 'PT Sans', sans-serif;
    font-size: 28px;
    font-weight: 400;
}
#msjResult{
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    font-size: 19px;
}
.success{
   color: #289228;
}
.failure{
   color: #922f28;
}
#containerMail form .inputGroup p{
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
}
#containerMail form .inputGroup input{
    height: 30px;
    width: 230px; 
}
#containerMail form .inputGroup textarea{
    padding-top: 10px;
    resize: none;
}
#containerMail form .inputGroup input,#containerMail form .inputGroup textarea{
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    padding-left: 8px;
    border: 1px solid #cabbbb;
    border-bottom-width: 2px;
}
#boxBtnMail{
    margin-top: 20px;
    text-align: center;
}
#boxBtnMail button{
    height: 35px;
    width: 40%;
    border-radius: 5px;
    border: none;
    background: #b5b9dd;
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    cursor: pointer;
}
#boxBtnMail button:hover{
    background: #aeb1d4;
    font-size: 19px;
}